<div class="container clearfix col-12">
	{{!--How to get signup/signin hidden when user logged in????????????????--}}


	<h1>Soccer Tactics Board</h1>
	<h4 class="center">Create and experiment with formations and tactics</h4>
	<div class="center">
	{{#each formations}}
		<ul class="link-styling border box">
			<a class='' href="/formation/{{this._id}}">
				<li>{{this.name}}</li>
				<!--Find a way to pass the formation author-->
				<h6>by: {{this.authorName}}</h6>
			</a>
		</ul>
	{{/each}}
	</div>

</div>
