<div class="container clearfix col-12">
	<h1>Discover Formations</h1>
	<h4 class="center">View formations created by others</h4>
	<hr>
	<div class="center">
	{{#each formations}}
		<ul class="link-styling box">
			<a class='' href="/formation/{{this._id}}">
				<li>{{this.name}}</li>
				<h6>by: {{this.authorName}}</h6>
			</a>
		</ul>
	{{/each}}
	</div>

</div>
