<!DOCTYPE html>
<html lang=“en”>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel='stylesheet' href='/stylesheets/grid.css' />
    <link href="https://fonts.googleapis.com/css?family=Coda" rel="stylesheet">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="../javascript/script.js"></script>
</head>
  <body>
    {{!--Navbar for all pages--}}
    <label for="toggle-1" class="toggle-menu">
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    </label>
    <input type="checkbox" id="toggle-1">
    <nav>
      <ul>
        <li><a href="/profile"><i class="fa fa-home"></i>Profile</a></li>
        <li><a href="/"><i class="fa fa-user"></i>Home</a></li>
        <li><a href="#portfolio"><i class="fa fa-thumb-tack"></i>Portfolio</a></li>
        <li><a href="#services"><i class="fa fa-gears"></i>Services</a></li>
        <li><a href="#gallery"><i class="fa fa-picture-o"></i>Gallery</a></li>
        <li><a href="#contact"><i class="fa fa-phone"></i>Contact</a></li>
      </ul>
    </nav>

    {{{body}}}
  </body>
</html>

