<!DOCTYPE html>
<html lang=“en”>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel='stylesheet' href='/stylesheets/grid.css' />
    <link href="https://fonts.googleapis.com/css?family=Coda" rel="stylesheet">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="../javascript/script.js"></script>
</head>
  <body>
    {{!--Navbar for all pages--}}
    <label for="toggle-1" class="toggle-menu yellow">
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    </label>
    <input type="checkbox" id="toggle-1">
    <nav>
      <ul>
        <li><a href="/" class='nav-link'><i></i>Home</a></li>
        <li><a href="/profile" class='nav-link'><i></i>Profile</a></li>
        <li><a href="#" class='nav-link'><i></i>Random Link</a></li>
        <li class="show-div"><a href="/login" class='nav-link'><i></i>Sign In</a></li>
        <li  class="show-div"><a href="/register" class='nav-link'><i></i>Sign Up</a></li>
      </ul>
    </nav>

    {{{body}}}
  </body>
</html>

