
<div class="container " id="login-container">
    <h1>Login</h1>
    <h4>Demo Account</h4>
    <p><span class="bold">Username:</span> PasswordIsTaco | <span class="bold">Password:</span> taco</p>
    <form role="form" action="/login" method="post" style="max-width: 300px;" id='login-form'>
        <div class="form-group">
            <input type="text" name="username" placeholder="Enter Username" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>&nbsp;
        <a href="/">
            <button type="button" class="btn btn-primary">Cancel</button>
        </a>
    </form>
    <br>
    <h5>Don't have an account? <a href="/register">Register Here</a></h5>
    <h5><a href="/">Go Back</a></h5>
</div>
