<div class="container clearfix">
	<h1> {{user.username}}'s Formations Page</h1>

	{{!--{{#if user}}
	    username: {{user.username}}
	{{/if}}--}}
	<form action="/newFormation" method="post">
	  <input type="text" name="name" placeholder="Formation Name" id='formationInput'>
	  <input type="submit" value="Submit" id='formSubmit'>
	</form>

	<div class="center">
		{{#each formations}}
			<ul class="link-styling border box">
				<a class='' href="/formation/{{this._id}}"><li>{{this.name}}</li></a>
			</ul>
		{{/each}}
		<button class='js-cancel-btn center'>Cancel</button> 
	</div>
	<br>
	<br>
</div>
