<div class="container clearfix" id="register-container">
    <h1>Registration</h1>
    <p class="lead">Register to begin creating formations</p>
    <br>
    <form role="form" action="/register" method="post" style="max-width: 300px;" id='register-form'>
        <div class="form-group">
            <input type="text" name="username" placeholder="Enter Username" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>&nbsp;
        <a href="/">
            <button type="button" class="btn btn-primary">Cancel</button>
        </a>
    </form>
    <div ><a href="/">Go Back</a></div>
</div>
