/* FONTS */
/* COLORS */
* {
  box-sizing: border-box; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

h1, form, td, th, .center, .team-wrap {
  text-align: center; }

h4, table {
  margin-bottom: 10px; }

img, header, table, label {
  width: 100%; }

img, .block-center, #login-form, #register-form {
  margin: auto; }

svg {
  transform: scale(0.295);
  transform-origin: top left; }

td, th {
  padding: 10px; }

nav {
  width: 100%; }
  nav table {
    background-color: #002e5b; }
  nav td {
    padding: 0; }

input[type="submit"] {
  margin-bottom: 20px;
  padding: 5px 10px;
  width: 35%; }

hr, .add-player {
  background-color: #CCC; }

.container {
  padding: 0 10px;
  max-width: 1200px; }

.link-styling {
  list-style: none;
  padding: 15px 0;
  font-size: 18px;
  border-radius: 3px; }
  .link-styling li {
    font-weight: 600;
    font-size: 26px; }

.feature {
  margin: 10px 0; }
  .feature h4 {
    font-weight: 700;
    font-size: 20px;
    padding-top: 30px;
    border-top: 1px solid #58BA9F; }

.col-12, .col-6 {
  width: 100%; }

.form-btn-padding button, .team-wrap button, input[type=submit].form-btn-padding, button.form-btn-padding, button.player-delete {
  margin: 0 5px;
  height: 40px;
  width: 75px;
  border-radius: 3px;
  color: #232B2B;
  border: 1px solid #232B2B; }

label, input[type=submit].form-btn-padding {
  margin: 0; }

#formationInput {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  line-height: 40px;
  max-width: 400px;
  font-size: 18px;
  padding: 5px 10px; }

#more-formations h4 {
  padding: 5px 10px; }

#comment-section form {
  text-align: center;
  margin-bottom: 20px; }

#comment-section h4 {
  margin: 5px 10px;
  font-size: 20px;
  padding: 5px 0; }

#formation-btn-padding {
  padding: 10px 0 40px 0; }

#comment-section form input[type="submit"], #formation-top-button {
  margin-top: 10px; }

/*Login Page*/
#login-container, #register-container {
  text-align: center;
  background-color: #F5E3A6;
  margin-top: 0; }

#home-welcome {
  background-color: #F5E3A6;
  margin-top: 0;
  text-align: left; }
  #home-welcome ol, #home-welcome li {
    margin: 0;
    padding: 0; }
  #home-welcome ol {
    counter-reset: foo;
    display: table; }
  #home-welcome li {
    list-style: none;
    counter-increment: foo;
    display: table-row; }
    #home-welcome li::before {
      content: counter(foo) ".";
      display: table-cell;
      text-align: right;
      padding-right: .3em; }

#accordion-padding {
  line-height: 10px;
  padding: 10px; }

.nav-link {
  color: #C73D16;
  font-weight: 700;
  font-size: 20px;
  border-bottom: 1px solid #CCC; }

#app-pages .nav-link {
  border-bottom: none; }

.accordion hr {
  display: none; }

/*Home Page*/
#public-form-link li {
  padding: 10px 15px;
  margin: 10px 0; }

#soccerField {
  width: 310px;
  height: 194px;
  margin: 10px auto; }

/*Formation Media Query*/
@media only screen and (min-width: 650px) {
  hr {
    margin: auto;
    width: 95%; }
  img {
    width: 60%;
    text-align: left; }
  .container, .lrg-max-width {
    width: 95%; }
  .col-6 {
    width: 50%;
    margin: 0 auto;
    background-color: #58BA9F; }
  .nav-link {
    border-bottom: none; }
  #home-welcome {
    width: 95%;
    margin: auto; }
  #comment-section {
    width: 95%;
    margin: auto;
    text-align: left; }
    #comment-section h4 {
      margin: 5px 0; }
    #comment-section input[type="textarea"] {
      width: 70%; }
    #comment-section form {
      text-align: left; }
  .accordion-header {
    background-color: #58BA9F;
    border-bottom: none; }
  .accordion hr {
    width: 90%;
    display: block; }
  .accordion-content {
    margin: auto;
    border-bottom: none;
    max-width: 90%;
    background-color: #58BA9F; }
  button.cancel {
    margin-top: 15px; } }

/*Responsive SVG Media Queries*/
@media screen and (min-width: 420px) {
  svg {
    transform: scale(0.381); }
  #soccerField {
    width: 400px;
    height: 259px; } }

@media screen and (min-width: 520px) {
  svg {
    transform: scale(0.476); }
  #soccerField {
    width: 500px;
    height: 324px; } }

@media screen and (min-width: 620px) {
  svg {
    transform: scale(0.571); }
  #soccerField {
    width: 600px;
    height: 388px; } }

@media screen and (min-width: 720px) {
  svg {
    transform: scale(0.667); }
  #soccerField {
    width: 700px;
    height: 454px; } }

@media screen and (min-width: 820px) {
  svg {
    transform: scale(0.762); }
  #soccerField {
    width: 800px;
    height: 519px; } }

@media screen and (min-width: 920px) {
  svg {
    transform: scale(0.857); }
  #soccerField {
    width: 900px;
    height: 583px; } }

@media screen and (min-width: 1200px) {
  svg {
    transform: scale(1); }
  #soccerField {
    width: 1050px;
    height: 680px; } }

/* FONTS */
/* COLORS */
* {
  margin: 0;
  padding: 0; }

body, table, a .js-delete-btn {
  color: #232B2B; }

body {
  font-family: "Coda", cursive;
  background-color: #58BA9F; }

header {
  display: table;
  background-color: #ffff7e;
  margin-bottom: 50px; }

nav ul {
  display: contents;
  list-style-type: none; }

nav li {
  float: left; }
  nav li:last-child {
    padding-right: 0px; }

td {
  border: 1px solid #002e5b; }

button:hover, input[type=submit]:hover {
  filter: brightness(1.2); }

th {
  border: 1px solid #FCFCFC; }

table {
  background-color: #CCC; }

input[type=text] {
  border: 0px solid; }
  input[type=text]:focus {
    outline: none; }

textarea:focus {
  outline: 0; }

input[type=checkbox], label {
  display: none; }

nav ul li a {
  color: #CCC;
  font-size: 14px;
  line-height: 28px;
  padding: 15px 10px;
  display: inline-block;
  transition: all 0.5s ease 0s; }

nav ul li a.nav-link:hover {
  background-color: #002e5b;
  color: #ffff7e;
  transition: all 0.5s ease 0s; }

nav ul li a:hover i {
  color: #ffff7e;
  transition: all 0.5s ease 0s; }

nav ul li a i {
  padding-right: 10px;
  color: #002e5b;
  transition: all 0.5s ease 0s; }

.bold {
  font-weight: 900; }

.comment-design {
  display: block;
  line-height: 40px;
  margin: 5px auto;
  width: calc(100% - 20px);
  background-color: #BBEEDF;
  padding: 15px;
  list-style: none; }

.comment-author {
  font-weight: 700;
  font-style: italic;
  color: #808080; }

.background-color {
  background-color: #58BA9F; }

.th-dark {
  background-color: slategrey;
  color: #FCFCFC; }

.delete, .player-delete {
  background-color: #ff6961; }

.save, .submit {
  background-color: #61a8ff; }

.fork {
  background-color: #FDA12C; }

.right {
  text-align: right; }

.float-r {
  float: right; }

.float-l {
  float: left; }

.clearfix {
  clear: both; }

.inline {
  display: inline; }

.block, .block-center {
  display: block; }

.i-block, .team-wrap {
  display: inline-block; }

.border, .th-dark {
  border: 1px solid #232B2B; }

.team-wrap {
  width: 49%; }

.tile {
  background-color: #db3236; }

.v-center {
  vertical-align: baseline; }

.box, .accordion {
  width: 100%; }

.box {
  margin: 20px auto; }

.bottom-border, .accordion-header {
  border-bottom: 1px solid #232B2B; }

.hidden {
  display: none; }

.accordion {
  background: linear-gradient(to bottom right, #FCFCFC, #F8F8F8);
  background: #FCFCFC;
  max-width: 100%;
  display: block;
  margin: 0 auto; }

.accordion td:not(.center):hover {
  background-color: #FCFCFC; }

.accordion-header, .accordion-content, .box {
  background-color: #F5E3A6; }

.accordion-header {
  color: #2a313a;
  cursor: pointer;
  font-size: 28px;
  font-weight: 700;
  padding: 1.5rem;
  text-align: center; }

.accordion-content {
  display: none;
  padding: 1.5rem;
  color: #4a5666; }

.accordion-header::before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background-color: #B1B5BE;
  margin-right: .75rem; }

.active.accordion-header::before {
  background-color: #FC6468; }

.toggle-menu ul {
  display: table;
  width: 100%;
  background-clolor: blue; }
  .toggle-menu ul li {
    width: 100%;
    height: 3px;
    margin-bottom: 4px; }
    .toggle-menu ul li:last-child {
      margin-bottom: 0px; }

#public-form-link {
  text-align: left; }
  #public-form-link li {
    background-color: #00aa5d;
    text-decoration: none;
    color: #fff;
    text-align: center; }
    #public-form-link li:hover {
      text-decoration: none;
      color: blue; }

#table-instruction {
  font-weight: 900; }

#logo {
  float: left;
  font-size: 24px;
  text-transform: uppercase;
  color: #002e5b;
  font-weight: 600;
  padding: 20px 0px; }

#footer {
  text-align: center;
  padding: 10px 0; }

#formSubmit {
  background-color: #61a8ff; }

#user-logout-display {
  text-align: right;
  clear: both;
  padding-right: 10px; }

#userFeedback {
  display: block;
  margin: auto;
  vertical-align: baseline;
  width: calc(100% - 20px);
  /*max-width: 650px;*/
  background-color: #FCFCFC;
  overflow: hidden;
  padding: 10px;
  border-radius: 3px;
  border: 0; }

#nav-or {
  display: hidden; }

#nav-icon3 {
  width: 60px;
  float: right;
  height: 30px;
  position: relative;
  margin: 5px 0px 20px 0;
  z-index: 3;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer; }
  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 70%;
    background: #d3531a;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out; }

#nav-icon3 span:nth-child(1) {
  top: 0px; }

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 18px; }

#nav-icon3 span:nth-child(4) {
  top: 36px; }

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#nav-icon3.open span:nth-child(2) {
  transform: rotate(45deg); }

#nav-icon3.open span:nth-child(3) {
  transform: rotate(-45deg); }

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

@media screen and (min-width: 400px) {
  #table-instruction {
    font-size: 14px; } }

@media screen and (min-width: 650px) {
  #table-instruction {
    font-size: 18px; }
  #userFeedback {
    display: block;
    vertical-align: baseline;
    width: calc(100% - 20px);
    background-color: #FCFCFC;
    overflow: hidden;
    padding: 10px;
    border-radius: 3px;
    border: 0; }
  .comment-design {
    margin-left: 0; }
  .show-div {
    color: red;
    visibility: hidden; }
  #nav-or {
    color: #CCC;
    font-size: 14px;
    line-height: 28px;
    padding: 15px 10px;
    display: inline-block; }
  .accordion {
    display: flex; }
  .accordion-header, .accordion-content {
    background-color: #58BA9F;
    border-bottom: none; }
  .active.accordion-header::before {
    visibility: hidden; }
  #formSubmit {
    margin-bottom: 15px; }
  #userFeedback {
    margin: initial; }
  .comment-design {
    margin: 5px 0; } }

@media screen and (max-width: 650px) {
  header {
    padding: 20px 0px; }
  nav, nav ul li, #logo {
    padding: 0px; }
  nav, nav ul li {
    width: 100%; }
  nav, .no-display {
    display: none; }
  nav, input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  input[type=checkbox] {
    background: none; }
    input[type=checkbox]:focus {
      background: none; }
  label {
    float: right;
    display: inline-block;
    cursor: pointer;
    background-color: #002e5b; }
  input[type=checkbox]:checked ~ nav, nav ul li a {
    display: block; }
  nav {
    left: 0px;
    top: 53px;
    z-index: 99; }
    nav li {
      float: none;
      display: table; }
    nav a {
      color: #FFF;
      font-size: 15px;
      padding: 10px 20px;
      border-bottom: 1px solid rgba(225, 225, 225, 0.1); }
  .float-l, .float-r {
    float: none; }
  .hide-div {
    color: red;
    visibility: hidden; } }

@media screen and (min-width: 900px) {
  #table-instruction {
    font-size: 20px; } }
