* {
 	box-sizing: border-box;
}

.container {
	padding-left: 10px;
	padding-right: 10px;
	border: 1px dashed red;
}

/*Profile Page Breakpoints*/
h1 {
	text-align: center;
}

form {
	text-align: center;
}

#formationInput {
	text-align: center;
	padding: 5px 10px;
	margin-bottom: 10px;
	line-height: 40px;
	width: 100%;
	font-size: 18px; 
}

.link-styling {
	list-style: none;
	line-height: 40px;
	padding: 15px 0;
	font-size: 18px;
}

input[type="submit"]{ 
	margin: 0 0 20px 0;
	padding: 5px 10px;
	line-height: 40px;
	width: 35%;
	font-size: 18px;
}


/*Login Page*/
#login-container {
	text-align: center;
	background-color: #00aa5d;
}

#login-form {
	margin: auto;
}

/*Register Page*/
#register-container {
	text-align: center;
	background-color: #00aa5d;
}

#register-form {
	margin: auto;
}


/*Formation Page*/
#formationName {
	color: red;
	float: left;
	/*display: inline-block;*/
}

table {
	width: 100%;
}

/*Home Page*/
#public-form-link li {
    /*border: 1px solid black;*/
    padding: 10px 15px;
    margin: 10px 0;
}

/*NavBar*/
.nav-link {

	color: green;
}

.col-12 {
	width: 100%;
}

