* {
 	box-sizing: border-box;
}

.container {
	padding-left: 10px;
	padding-right: 10px;

	/*border: 1px dashed red;*/
	max-width: 1200px;
}

.form-btn-padding {
	padding: 15px 0;
}

.form-btn-padding button, .team-wrap button {
	margin:0 5px;
	/*line-height: 25px;*/
	height: 50px;
	width: 75px;
}


/*Profile Page Breakpoints*/
h1 {
	text-align: center;
}

form {
	text-align: center;
}

#formationInput {
	text-align: center;
	padding: 5px 10px;
	margin-bottom: 10px;
	line-height: 40px;
	width: 100%;
	font-size: 18px; 
}

.link-styling {
	list-style: none;
	/*line-height: 40px;*/
	padding: 15px 0;
	font-size: 18px;
}

input[type="submit"]{ 
	margin: 0 0 20px 0;
	padding: 5px 10px;
	line-height: 40px;
	width: 35%;
	font-size: 18px;
}


/*Login Page*/
#login-container {
	text-align: center;
	background-color: #00aa5d;
}

#login-form {
	margin: auto;
}

/*Register Page*/
#register-container {
	text-align: center;
	background-color: #00aa5d;
}

#register-form {
	margin: auto;
}


/*Formation Page*/
.col-12 {
	width: 100%;
}

.col-6 {
	/*border: 2px solid blue;*/
	width: 100%;
}

#formationName {
	color: red;
	float: left;
	/*display: inline-block;*/
}

nav td {
	padding: 0;
}

table {
	width: 100%;
	margin-bottom: 20px;
}

/*Formation Media Query*/
@media only screen and (min-width: 900px) {
	.team1 {
		float: left;
		border: 1px solid yellow;
	}

	.team2 {
		float: right;
		border: 1px solid red;
	}

	.col-6 {
		width: 49%;
		color: green;
	}
}

/*Home Page*/
#public-form-link li {
    /*border: 1px solid black;*/
    padding: 10px 15px;
    margin: 10px 0;
}

/*NavBar*/
.nav-link {
	color: green;
}


/*Responsive SVG Media Queries*/
svg {
    transform: scale(.295);
	transform-origin: top left;
}

#soccerField{
    width: 310px;
    height: 194px;
    margin: 10px auto;
    /*border: 2px dashed red;*/
}

@media only screen and (min-width: 420px) {
	svg {
    	transform: scale(.381);
	}

	#soccerField{
	    width: 400px;
	    height: 259px;
	}
}

@media only screen and (min-width: 520px) {
	svg {
    	transform: scale(.476);
	}

	#soccerField{
	    width: 500px;
	    height: 324px;
	}
}

@media only screen and (min-width: 620px) {
	svg {
    transform: scale(.571);

	}

	#soccerField{
	    width: 600px;
	    height: 388px;
	}
}

@media only screen and (min-width: 720px) {
	svg {
    	transform: scale(.667);
	}

	#soccerField{
	    width: 700px;
	    height: 454px;
	}
}

@media only screen and (min-width: 820px) {
	svg {
    	transform: scale(.762);
	}

	#soccerField{
	    width: 800px;
	    height: 519px;
	}
}

@media only screen and (min-width: 920px) {
	svg {
    	transform: scale(.857);
	}

	#soccerField{
	    width: 900px;
	    height: 583px;
	}
}

@media only screen and (min-width: 1200px) {
	svg {
    	transform: scale(1);
	}

	#soccerField{
	    width: 1050px;
	    height: 680px;
	}
}

