body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: 'Coda', cursive;
}

a {
  color: #00B7FF;
}

svg {
	transform: scale(.7);
}

td, th {
    text-align: center;
    padding: 10px;
    border: 1px solid violet;
}

#public-form-link {
    /*border: 1px solid black;*/
    text-align: left;
}

#public-form-link li {
    /*border: 1px solid black;*/
    background-color: #00aa5d;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

#public-form-link li:hover {
    text-decoration: none;
    color: blue;
}


/*li {
    list-style-type: none;
}*/

.th-dark {
  background-color: slategrey;
  border-color: darken(@tableColour,10%);
  color: white; > h1, > h2, > h3, > h4, > h5, > h6 { color: white; }
}

.delete {
	background-color: #ff6961;
}

.save {
	background-color: #61a8ff;
}

.center {
	text-align: center;
}

.block-center {
    display: block;
    margin: auto;
}

.float-r {
	float: right;
	color: blue;
}

.float-l {
    float: left;
}

.clearfix {
	clear: both;
}

.block-center {
	margin: auto;
}

.block {
	display: block;
	margin: auto;
}

.i-block {
	display: inline-block;
}

.border {
	border: 1px solid black;
}

.team-wrap {
	text-align: center;
	display: inline-block;
	/*border: 1px dashed blue;*/
	width: 49%;
}

#formSubmit {
	background-color: #61a8ff;
}

/*link shadowing*/
.box {
    width:100%;
    /*height:200px;*/
    background:#FFF;
    margin:20px auto;
    box-shadow: 0px 30px 40px rgba(0,0,0,.1);

}

.shadow
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow:before, .shadow:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadow:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}


/*Navbar*/
header {
  width: 100%;
  display: table;
  background-color: #fde428;
  margin-bottom: 50px;
}

.yellow {
    background-color: yellow;
}

#logo {
  float: left;
  font-size: 24px;
  text-transform: uppercase;
  color: #002e5b;
  font-weight: 600;
  padding: 20px 0px;
}

nav {
  width: 100%;
  /*float: right;*/
}

nav ul {
  /*display: table;*/
}

nav ul li { float: right; }

nav ul li:last-child { padding-right: 0px; }

nav ul li a {
  color: #002e5b;
  font-size: 18px;
  padding: 25px 20px;
  display: inline-block;
  transition: all 0.5s ease 0s;
}

nav ul li a:hover {
  background-color: #002e5b;
  color: #fde428;
  transition: all 0.5s ease 0s;
}

nav ul li a:hover i {
  color: #fde428;
  transition: all 0.5s ease 0s;
}

nav ul li a i {
  padding-right: 10px;
  color: #002e5b;
  transition: all 0.5s ease 0s;
}

.toggle-menu ul {
  display: table;
  width: 25px;
}

.toggle-menu ul li {
  width: 100%;
  height: 3px;
  background-color: #002e5b;
  margin-bottom: 4px;
}

.toggle-menu ul li:last-child { 
    margin-bottom: 0px; 
}

input[type=checkbox], label { 
    display: none; 
}

@media only screen and (max-width: 400px) {

    header { padding: 20px 0px; }

    #logo { padding: 0px; }

    input[type=checkbox] {
      position: absolute;
      top: -9999px;
      left: -9999px;
      background: none;
    }

    input[type=checkbox]:fous {
      background:none;
    }

    label {
      float: right;
      padding: 8px 0px;
      display: inline-block;
      cursor: pointer;
    }

    input[type=checkbox]:checked ~ nav { display: block; }

    nav {
        display: none;
        position: absolute;
        left: 0px;
        width: 100%;
        top: 53px;
        background-color: #002e5b;
        padding: 0px;
        z-index: 99;
    }

    /*nav ul { width: auto; }*/

    nav ul li {
      float: none;
      padding: 0px;
      width: 100%;
      display: table; 
    }

    nav ul li a {
      color: #FFF;
      font-size: 15px;
      padding: 10px 20px;
      display: block;
      border-bottom: 1px solid rgba(225,225,225,0.1);
    }

    nav ul li a i {
      color: #fde428;
      padding-right: 13px;
    }

}

@media only screen and (max-width: 400px) {
    .hide-div {
        color: red;
        visibility: hidden; 
    }

}

@media only screen and (min-width: 401px) {
    .show-div {
        color: red;
        visibility: hidden; 
    }

}
